.container {
    max-width: 1200px;
    margin: auto;
}

.main-hero-image {
    width: 100%;
}

.ct-flex {
    display: flex;
    flex-wrap: wrap;
}

.ct-20 {
    width: 50%;
    min-width: 50%;
    padding-top: 20px;
    @include breakpoint(md) {
    width: 20%;
    min-width: 20%;
    }  
}

.ct-25 {
    width: 25%;
}

.ct-33 {
  width: 33.333%;
}

.ct-50 {
  width: 50%;
}

.link {
  a {
    font-weight: 600;
    color: #ff914d;
  }
}

.ct-float-text {
  display: flex;
  align-items: center;   
  justify-content: center;
  p {
    padding-right: 50px;
  }
  .sub-heading {
    font-size: 20px;
    font-weight: 500;
  }
}

.body-content {
  padding: 30px;
}

.overlay-hero {
    img {
        position: absolute;
    }
    p {
        position: relative;
        top: 87px;
        left: 50px;
    }
}

.desktop-display {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}

.mobile-display {
  display: block;
  @include breakpoint(md) {
    display: none;
  }
}

.inner-hero-container {
  position: relative;
  display: block;
  width: 100%;
  img {
    max-width: 100%;
    display: block;
    width: 100%;
    
  }
  
  .container {
    position: absolute;
    top: 60px;
    left: 0;
    max-width: 100%;
    height: 100%;
    width: 100%;
    padding: 0;


    h1 {
        text-align: center;
        color: #333333;
        font-size: 3.5em;
        display: block;
        width: 100%;
        line-height: 1em;
        z-index: 9;

        @include breakpoint(md) {
            @include no-vertical-align;
            font-size: 2em;
            color: #fff;
            z-index: 1;
            text-align: center;
            vertical-align: middle;
            line-height: 90px;
        }

        @include breakpoint(ipad-landscape) {
            @include no-vertical-align;
            position: absolute;
            left: 75px;
        }

        @include breakpoint(ipad-portrait) {
            @include no-vertical-align;
            font-size: 10em;
            text-align: left;
            position: absolute;
            bottom: -13px;
            left: 75px;
            color: #fff;
            z-index: 1;
        }
    }
  }
}

.inner-hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0703;
  opacity: 0.8;
  pointer-events: none; /* lets clicks pass through */
}

#banner {
  width: 100%;
  overflow: hidden;
}

#text {
  white-space: nowrap;
  font-size: 36px;
  color: #333333;
}

.spacer {
  padding: 20px;
  display: block;
}
