footer {
    background-color: #333;
    padding: 50px 0px;
    .footer-container {
        max-width: 1200px;
        margin: auto;
        padding: 0px 40px;
        li {
            list-style-type: none;
            color: #fff;
            font-size: 0.9em;
            line-height: 25px;
        }
        p {
            color: #fff;
            font-size: 0.9em;
            line-height: 25px;
        }
    }
    .site-info {
        text-align: center;
        padding-top: 40px;
    }

}

.sep {
    color: #ffffff;
    font-size: 14px;
}

.pride-flag {
    position: absolute;
    max-width: 30px;
    right: 176px;
    bottom: -560px;
}