.page-header-block {
    padding-top: 90px;
}

.our-purpose-img {
    max-width: 90%;
    border-bottom: 10px solid #e57b35;
}

.background-container {
    background-color: #fff7f2;
    padding: 80px;
    &-white {
        background-color: #fff;
        padding: 60px;
    }
}

 