.sponsor-carousel {
    width: 100%;
    padding: 20px 0;
    background: #f9f9f9;

    h2 {
        text-align: center;
        padding: 10px 0px 10px 0px;
        font-size: 20px;
    }
    p {
        text-align: center;
        padding-bottom: 40px;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide {
        img {
           max-width: 150px;
           height: auto;
           filter: grayscale(100%);
           opacity: 0.8;
           transition: all 0.3s ease-in-out;
        }
   }
   .swiper-slide { 
        img:hover {
        filter: grayscale(0%);
        opacity: 1;
        transform: scale(1.05);
        }
    }
}
